.header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color:#af7eea;
    padding: 10px;
}
.titleContainer{
    width: 100%;
    display: flex;
    justify-self: center;
}
.title{
    margin: auto;
}