* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(227, 233, 255);
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  position:absolute;
  left: 0;
  top: 65px;
}
.listContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.listItem {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 30px;

}
.todoHeader {
  width: 100%;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background: #af7eeab9;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bolder;
  color: white;
  margin-bottom: 10px;
  box-shadow: 0px 1px 6px 0px rgb(0 0 0 / 12%);
  -webkit-box-shadow: 0px 1px 6px 0px rgb(0 0 0 / 12%);
  -moz-box-shadow: 0px 1px 6px 0px rgb(0 0 0 / 12%);
}
.todoData {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 20px;
  box-shadow: 0px 1px 6px 0px rgb(0 0 0 / 12%);
  -webkit-box-shadow: 0px 1px 6px 0px rgb(0 0 0 / 12%);
  -moz-box-shadow: 0px 1px 6px 0px rgb(0 0 0 / 12%);
}
.todoItem {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 10px 0;
}
.checkDescription {
  width: fit-content;
  max-width: 90%;
  display: flex;
  align-items: center;
}
.todoCheck {
  margin-right: 20px;
}

.deleteIcon {
  width: 13px;
  color: #b7bac9;
}
.checkCircle {
  width: 9px;
  height: 9px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid #b7bac9;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.checkCircle:checked {
  background-color: #af7eeab9;
}
.todoDescription {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bolder;
  color: #b7bac9;
  overflow-wrap: anywhere;
}
.descriptionMarked{
  text-decoration: line-through;
}

.todoDelete{
  position: relative;
}

.addBtnContainer {
  margin: -15px auto 0px auto;
  height: 30px;
  padding: 5px 30px;
  border-radius: 20px;
  background: #af7eea;
  font-family: sans-serif;
  font-weight: bolder;
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.addBtnContainer:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.newTask{
  width: 80%;
  padding: 0px;
  height: 0px;
  overflow: hidden;
  display: flex;
  justify-content:center;
  margin: auto;
  transition: all 0.3s ease-in-out;
  
}

.newTask.open{
  width: 80%;
  padding: 10px;
  height: 50px;
  display: flex;
  justify-content:center;
  margin: auto;
  transition: all 0.3s ease-in-out;
  
}

.newTaskInput{
 height: 30px;
 width: 100%;
 border-radius: 5px;
 border: 1px solid #d7dae4;
 background-color:#f9f9f7;
 padding:  0px 10px;
 
}
.newTaskInput:focus{
  border: 1px solid #d7dae4;
  background-color:#f9f9f7;
  outline: none !important;
  transform: scale(1.1);
}

.deleteWarning{
  position: absolute;
  width: 100px;
  display: none;
  left: -30px;
  background-color: #fff;
  z-index: 999;
  border-radius: 10px;
  border: 1px solid #d7dae4;
  padding: 5px 10px;
  text-align: center;
  color: #b7bac9;
}
.warningOpen{
  display: block;
}
.deleteWarningDecision{
  display: flex;
  justify-content: space-around;
}
.decision{
  text-decoration: underline;
  cursor: pointer;
}

