* {
  padding: 0;
  margin: 0;
}

body{
  background-color: rgb(227, 233, 255)
}
.container{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  
}
.listContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.listItem{
  display: flex;
  flex-direction: column;
  width: 300px;  
  margin-top: 30px;
}
.todoHeader{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background: #af7eeab9;
  font-family: sans-serif;
  font-size:18px;
  font-weight: bolder;
  color: white;
  margin-bottom: 10px;
}
.todoData{
  display: flex;
  flex-direction: row;

}
.todoItem{
  display: flex;
  width:100%;
  justify-content: space-around;
}
.checkDescription{
  width:66%;
  display: flex;
  align-items: center;
}
.todoCheck{
  margin-right: 15px;
}

.deleteIcon{
  width: 20px;
  color: #b7bac9;
}
.checkCircle{
  height: 15px;
  width: 15px;
  background-color: transparent;
  border: 1px solid #b7bac9;
  border-radius: 50%;
  display: inline-block;
}
.todoDescription{
  font-family: sans-serif;
  font-size:18px;
  font-weight: bolder;
  color: #b7bac9;
}
